<!DOCTYPE html>
<html>
  <head>
    <title><%= @title ? @title : "TalbitTech" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <header id="main-header">
      <%= link_to image_tag("TalbitTech Logo.png", size: 75), root_path %>
      <nav>
        <ul id="nav-bar">
          <li><%= link_to "About", "/about" %></li>
          <li><%= link_to "Apps", "/apps" %>
            <ul>
              <li><%= link_to "TChess", "/apps/tchess" %></li>
            </ul>
          </li>
          <li><%= link_to "Articles", "/articles" %></li>
          <li><%= link_to "Interests", "/interests" %>
            <ul>
              <li><%= link_to "Music", "/music" %></li>
            </ul>
          </li>
        </ul>
      </nav>
    </header>

    <div id="content">
      <%= yield %>
    </div>

    <footer id="main-footer">Created by J.C. Talbott</footer>
  </body>
</html>
